<h3> Formação Acadêmica </h3>
<br>
<ul>
    <li>
        UNINTER Centro Universitário Internacional
        <br>
        Curso Superior de Tecnologia (CST)
    </li>
    <br>
    <li>
        Faculdades Spei
        <br>
        Bacharel em Ciências Contábeis
    </li>
</ul>

<hr>
<br>

<h3>Cursos</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ano</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2021</td>
            <td>Curso de Git e GitHub - Curso em Vídeo (11 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Curso de Banco de Dados MySQL - Curso em Vídeo (8 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Curso de Java para Iniciantes - Curso em Vídeo (12 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Curso de Linux - Curso em Vídeo (5 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Curso de Lógica de Programação - Curso em Vídeo (7 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Curso de Programação Orientada a Objeto Java - Curso em Vídeo (12 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Fundamentos Microsoft Azure Az-900 - Udemy (6.5 horas) - Online</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>Fundamentos da Programação Java - Oracle (7 horas) - Online</td>
        </tr>
    </tbody>

</table>

<br>

  <h3> Experiência Profissional </h3>
  <ul>
    <li>
      Software Developer
      <br>
      Flieger Software - Junho 2021 à Outubro 2021
      <br>
      - JAVA 11;
      <br>
      - AWS S3, Lambda, DynamoDB;
      <br>
      - MongoDB;
      <br>
      - REST;
      <br>
      - NestJs;
      <br>
      - JIRA
      <br>
    </li>
    <li>
      Analista de Controladoria
      <br>
      Votorantim - Agosto 2018 à Dezembro 2020
      <br>
      - Registro e análise de documentos fiscais;
      <br>
      - Lançamento FI, análise e programação para pagamento de documentos Internacionais (Invoices);
      <br>
      - Interação e ajustes em conjunto com as áreas de almoxarifado, expedição e logística para identificar
      possíveis
      gaps;
      <br>
      - Criação de macro VBA Excel para análises e automatização de processos;
      <br>
      - Acompanhamento e manutenção de reports para verificações e tomadas de decisões;
      <br>
      - Elaboração e apresentação de resultados em reuniões operacionais através de indicadores KPI’s (Power Point,
      Power BI, Excel);
    </li>
    <li>
      Analista de controladoria
      <br>
      Grupo Abrascort - Junho 2012 à Fevereiro 2018
      <br>
      Assistente Controladoria
      <br>
      - Realização do pro-ativo para identificar possíveis erros de diferença de entrada física e fiscal da
      mercadorias;
      <br>
      - Conferência de centros de custo produtivo e administrativo, realizando alocação quando necessário;
      <br>
      - Ajustes de possíveis erros de movimentação de mercadoria;
      <br>
      - Execução de decomposição de custos, rateios, cálculo de tarifa e cálculo do material ledger;
      <br>
      - Análise entre a controladoria e o contábil e análise de margem de contribuição;
      <br>
      Assistente Contábil
      <br>
      - Conciliação de todas as contas do passivo, ativo e de resultado das empresas do grupo, contendo empresas do
      lucro real e lucro presumido;
      <br>
      - Importação e ajustes dos lotes de departamentos interligados;
      <br>
      - Lançamento de lotes de caixa, apropriando para as devidas despesas;
      <br>
      - Controle das contas através de planilhas para análise.
    </li>
  </ul>
  <br>
  <hr>
  <h3>Reconhecimentos e Prêmios</h3>
  <ul>
    <li>Melhor funcionário do ano de 2016 na Empresa Abrascort Comercial e Importadora de Correntes Ltda, avaliação
      realizada com base na média das avaliações mensais, adotando critérios como pontualidade, eficiência,
      atendimento,
      comportamento entre outros.</li>
  </ul> -->