<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <p class="form-control-static">edcarlos.moraes@outlook.com</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
            <p class="form-control-static">(XX) 9999-5544</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Linkedin</label>
        <div class="col-sm-10">
            <p class="form-control-static"><a id="dLabel" data-target="#"
                    href="https://www.linkedin.com/in/edcarlos-moraes/" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    https://www.linkedin.com/in/edcarlos-moraes/
                    
                </a></p>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Deixe sua Mensagem</label>
        <div class="col-sm-10">
            <input type="mensagem" class="form-control" id="inputPassword" placeholder="Mensagem">
        </div>
    </div>
</form>